@media (max-width: 700px) {
  .hide-sm {
    display: none; }
  .navbar {
    display: block;
    text-align: center; }
    .navbar ul {
      text-align: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .navbar h1 {
      margin-bottom: 1rem; } }
